@media screen and (max-width:1080px) {
  
  .page-title {
    margin: 2px;
    padding:2px;
    font-size: 20px;
    border-radius: 10% 10%
  }


  .keybtn {
    width: 47px;
    height: 30px;
    border-radius: 20% 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1px;
    padding:1px;
    font-size: 20px;
  }

  .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  nav{
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    align-self: center;
    margin: 0;
    padding: 0;
  }

  .modeToggle {
    width: 110px;
    border-radius: 20px 20px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    align-self: center;
    margin: 0;
    padding: 0;
  }

  p {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
  }

  .display{
    width: 90%;
    height: 25px;
    border-radius: 10px 10px;
    display: flex;
    align-self: center;
    justify-self: center;
    background-color: whitesmoke;
    justify-content: flex-end;
    align-items: center;
    padding: 1px;
    margin: 1px;
    font-size: 18px;
}