@media screen and (max-width:1080px) {
   
  .keybtn {
    width: 30px;
    height: 30px;
    border-radius: 20% 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1px;
    padding:1px;
  }

  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  nav{
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    align-self: center;
    margin: 0;
    padding: 0;
  }

  .modeToggle {
    width: 110px;
    border-radius: 20px 20px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    align-self: center;
    margin: 0;
    padding: 0;
  }

  p {
    font-size: 0.8rem
  }

}